.border-rainbow {
  border-image: linear-gradient(
      45deg,
      #ff0000,
      #ff7f00,
      #ffff00,
      #00ff00,
      #0000ff,
      #4b0082,
      #9400d3
    )
    1;
}

@keyframes rainbowGlow {
  0% {
    border-color: #ff0000;
  }
  14% {
    border-color: #ff7f00;
  }
  28% {
    border-color: #ffff00;
  }
  42% {
    border-color: #00ff00;
  }
  57% {
    border-color: #0000ff;
  }
  71% {
    border-color: #4b0082;
  }
  85% {
    border-color: #9400d3;
  }
  100% {
    border-color: #ff0000;
  }
}

.hover/:border-rainbow:hover {
  animation: rainbowGlow 2s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
